{{>layout/header}}

<h2>순찬 체스</h2>

<div class="page">
    <div class="board">
        <div class="cell type1" id="cell1">1</div>
        <div class="cell type2" id="cell2">2</div>
        <div class="cell type1" id="cell3">3</div>
        <div class="cell type2" id="cell4">4</div>
        <div class="cell type1" id="cell5">5</div>
        <div class="cell type2" id="cell6">6</div>
        <div class="cell type1" id="cell7">7</div>
        <div class="cell type2" id="cell8">8</div>
        <div class="cell type2" id="cell9">9</div>
        <div class="cell type1" id="cell10">10</div>
        <div class="cell type2" id="cell11">11</div>
        <div class="cell type1" id="cell12">12</div>
        <div class="cell type2" id="cell13">13</div>
        <div class="cell type1" id="cell14">14</div>
        <div class="cell type2" id="cell15">15</div>
        <div class="cell type1" id="cell16">16</div>
        <div class="cell type1" id="cell17">17</div>
        <div class="cell type2" id="cell18">18</div>
        <div class="cell type1" id="cell19">19</div>
        <div class="cell type2" id="cell20">20</div>
        <div class="cell type1" id="cell21">21</div>
        <div class="cell type2" id="cell22">22</div>
        <div class="cell type1" id="cell23">23</div>
        <div class="cell type2" id="cell24">24</div>
        <div class="cell type2" id="cell25">25</div>
        <div class="cell type1" id="cell26">26</div>
        <div class="cell type2" id="cell27">27</div>
        <div class="cell type1" id="cell28">28</div>
        <div class="cell type2" id="cell29">29</div>
        <div class="cell type1" id="cell30">30</div>
        <div class="cell type2" id="cell31">31</div>
        <div class="cell type1" id="cell32">32</div>
        <div class="cell type1" id="cell33">33</div>
        <div class="cell type2" id="cell34">34</div>
        <div class="cell type1" id="cell35">35</div>
        <div class="cell type2" id="cell36">36</div>
        <div class="cell type1" id="cell37">37</div>
        <div class="cell type2" id="cell38">38</div>
        <div class="cell type1" id="cell39">39</div>
        <div class="cell type2" id="cell40">40</div>
        <div class="cell type2" id="cell41">41</div>
        <div class="cell type1" id="cell42">42</div>
        <div class="cell type2" id="cell43">43</div>
        <div class="cell type1" id="cell44">44</div>
        <div class="cell type2" id="cell45">45</div>
        <div class="cell type1" id="cell46">46</div>
        <div class="cell type2" id="cell47">47</div>
        <div class="cell type1" id="cell48">48</div>
        <div class="cell type1" id="cell49">49</div>
        <div class="cell type2" id="cell50">50</div>
        <div class="cell type1" id="cell51">51</div>
        <div class="cell type2" id="cell52">52</div>
        <div class="cell type1" id="cell53">53</div>
        <div class="cell type2" id="cell54">54</div>
        <div class="cell type1" id="cell55">55</div>
        <div class="cell type2" id="cell56">56</div>
        <div class="cell type2" id="cell57">57</div>
        <div class="cell type1" id="cell58">58</div>
        <div class="cell type2" id="cell59">59</div>
        <div class="cell type1" id="cell60">60</div>
        <div class="cell type2" id="cell61">61</div>
        <div class="cell type1" id="cell62">62</div>
        <div class="cell type2" id="cell63">63</div>
        <div class="cell type1" id="cell64">64</div>
    </div>

    <div class="menuArea">
        <div class="buttonArea">
            <button type="button" id="btn-start">시작</button>
        </div>
        <div class="statusArea">
            <div class="status">
                <div class="status-text">흑 :</div>
                <div class="status-text" id="text-blackScore">0</div>
            </div>
            <div class="status">
                <div class="status-text">백 :</div>
                <div class="status-text" id="text-whiteScore">0</div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}